/* // best seen at 1500px or less */
/*   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; */

html,
body {
  height: 100%;
}
body {
  background: radial-gradient(
    rgb(41 41 69) 0%,
    rgb(29 29 47) 35%,
    #13131c 100%
  );
}

.ocean {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #593c90, #573b8d, #383145);
  opacity: 0.35;
}

.wave {
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 9s linear infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 3s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}
